body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
.orange-color{
    color: orange;

}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color:rgb(228, 152, 11);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}
